@model IEnumerable<MvcAutomation.Models.BlockViewModel>

@{
    ViewBag.Title = "Список тестов";
}

<div id="content">
    <div class="right">
        @foreach (MvcAutomation.Models.BlockViewModel block in Model)
        {
            using (Html.BeginForm("StartTest", "Test", FormMethod.Get))
            {
                <fieldset>
                    <input type="hidden" name="test_name" value="@block.Title" />
                    <legend>@block.Title</legend>
                    <div class="articles">
                        @block.Text
                    </div>
                    <input type="hidden" name="num" value="0" />
                    <input type="submit" value="Пройти" />
                </fieldset>
            }
        }
    </div>
</div>
