@model List<MvcAutomation.Models.AddTestViewModel>

@{
    ViewBag.Title = "Добавить тест";
}

<div id="content">
    <div class="right">
        @if (Session["TestResult"] != null)
        {
            <h2>@Session["TestResult"]</h2>
            Session["TestResult"] = null;
        }
        @using (Html.BeginForm())
        {
            <label>Название теста</label>
            <br />
            <input type="text" name="test_name" />
            <br />
            foreach (var item in Model)
            {
                <input type="checkbox" name="sel_test" value="@item.AttachmentContentId" />
                @item.FileName
                <br />
            }
            <label>Описание теста</label>
            <br />
            @Html.TextArea("description", new { cols = 70, rows = 23 })
            <br />
            <label>Количество заданий</label>
            <br />
            <input type="text" name="count" />
            <br />
            <label>Время на тест в минутах</label>
            <br />
            <input type="text" name="time" />
            <br />
            <input type="submit" value="Добавить" />
        }

    </div>
</div>
