@model List<MvcAutomation.Models.AddTestViewModel>

@{
    ViewBag.Title = "AddTest";
}

<div id="content">
    <div class="right">
        <h2>AddTest</h2>
        @using (Html.BeginForm())
        {
            <label>Название теста</label>
            <br />
            <input type="text" name="test_name" />
            <br />
            foreach (var item in Model)
            {
                <input type="checkbox" name="sel_test" value="@item.AttachmentContentId" />
                @item.FileName
                <br />
            }
            <label>Количество заданий</label>
            <br />
            <input type="text" name="count" />
            <br />
            <label>Время на тест в минутах</label>
            <br />
            <input type="text" name="time" />
            <br />
            <input type="submit" value="Добавить" />
        }

    </div>
</div>
