@{
    ViewBag.Title = "Ошибка авторизации";
}

<div id="content">
    <div class="right">
        <h2>Авторизируйтесь для доступа к данной странице</h2>
        <br />
        <br />
        <img src="~/images/smile2.jpg" />
    </div>
</div>
