@{
    ViewBag.Title = "404 страница не найдена";
}

<div id="content">
    <div class="right">
        <center><h2>Кажется данной страницы не существует</h2></center>
        <img src="~/images/smile.jpg"/>
    </div>
</div>