@model List<MvcAutomation.Models.TestResultViewModel>

@{
    ViewBag.Title = "Результаты тестов";
}

<div id="content">
    <div class="right">
        @foreach (MvcAutomation.Models.TestResultViewModel test in Model)
        {
            <br />
            <label>Имя теста: @test.TestName</label>
            <p>Оценка: @test.Result</p>
        }
    </div>
</div>